[globals]
api_token = <your bot API token here>
ignore_older_than_mins = 30

[zabbix]
zabbix_url = https://zabbix.test.lab
zabbix_description = Lab Zabbix
zabbix_api_user = tgbot
zabbix_api_password = <some password here>

[severities]
# Notification levels for various severities.
# Currently, if level < 0 then notification won't sound on clients.
# If level < -9, then the message won't be relayed to Telegram at all.
# If level < 0 then it won't sound notifications
# If level > 0 then it would be delivered as usual.
#
# Can be overridden with '-l' command line parameter to tg_sender.py
Disaster = 2
High = 0
Average = 0
Warning = 0
Information = 0
Not classified = -1

[groups]
group1 = -1
group2 = -2

# TODO: implement acknowledge limits per user or per group basis
# Limits will be per minute
[limits]
perUserLimit = 5
perGroupLimit = 10